<html>

<head>
	<title>Django Session</title>
</head>

<style type="text/css">
.text-success{
 color: #0f8215;
}
.text-error{
 color: #b71717;
}
.text-center{
   text-align:center;
}
</style>

<body>
	<a href="/home">Home</a>
	<a href="/listaction">Questions</a>
   <div class="text-center">
      <form action="/home/" method="post">
      	<fieldset>
      		<label>Questions :</label>
      		{{ form.question }}
      		<br>
            <input type="submit" name="submit" value="submit">
      	</fieldset>
      </form>   
      <a  href="/login">Logout</a>      
   </div>
</body>
</html>